<p id="notice"><%= notice %></p>

<div id="events">
  <h2 id="month">
    <div style="font-size: 1.5em;">
      <%= link_to 'Todos', events_path, :class => "btn btn-outline-primary btn-sm" %>
      <%= link_to content_tag(:i, '<', class: 'fa fa-angle-left'), date: @date.prev_month %>
      <%= l @date, format: "%B %Y" %>
      <%= link_to content_tag(:i, '>', class: 'bi bi-chevron-right'), date: @date.next_month %>
      <%= link_to 'Criar Evento', new_event_path(@event), :class => "btn btn-outline-primary btn-sm" %>
    </div>
  </h2>
  <%= calendar @date do |date|%>
    <%= date.day %>
    <%= link_to '+', new_event_path, :class => "btn btn-outline-primary btn-sm" %>
    <% if @events_by_date[date] %>
      <% @events_by_date[date].each do |event| %>
        <div class="box box-solid collapsed-box">
          <div class="box-header">
            <div class="box-title">
              <small>
                <small title="Descrição"><%= l event.start_date, format: '%H:%M' %></small> -
                <small><%= link_to event.description, event %></small>
              </small>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
