<p id="notice"><%= notice %></p>

<p>
  <strong>Descrição:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Início:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>Fim:</strong>
  <%= @event.end_date %>
</p>

<%= link_to 'Editar', edit_event_path(@event) %> |
<%= link_to 'Voltar', root_path %>
